{%extends "mainapp/base_index.html" %}
{% block content %}
<div class="page-top"></div>
<div class="container">
  {% for message in messages %}
  <div {% if message.tags %}class="{{ message.tags }}" {% endif %}>
    {{ message }}
  </div>

  {% endfor %}
  <div class="row">

    <h1><a href="/" style="text-decoration:none">トゥットファーレ</a></h1>
    {% if form.errors %}
    <p>以下のエラーがありますので、修正してください:</p>
    {% for field in form %}
    {% if field.errors %}
    <div class="alert alert-primary" role="alert">
      {{ field.label }}: {{ field.errors|striptags }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <div class="row justify-content-center">

    <form class="form-signin mx-4 col-12" method="POST">
      {% csrf_token %}
      <div class="text-center">
        <h5>
          {% if 'login' in request.path %}
          ログイン
          {% elif 'signup'%}
          新規登録
          {% endif %}
        </h5>
      </div>

      <div class="form-label-group my-3">
        <input type="email" id="id_email"
          name="{% if 'login' in request.path %}username{% elif 'signup' %}email{%endif%}" class="form-control"
          placeholder="Email address" required autofocus>
      </div>

      <div class="form-label-group my-3">
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
      </div>
      <div class="d-grid col-12">
        <button class="btn btn-info" type="submit">
          {% if 'login' in request.path %}
          ログイン
          {% elif 'signup' %}
          新規登録
          {% endif %}
        </button>
      </div>

    </form>
  </div>
  <div class="pt-3 row text-center">
    <div class="col-md-12 m">
      {% if 'login' in request.path %}
      <ul>
        <li><a href="/signup/" class="link-secondary">新規登録はこちら</a></li>
        <li><a href="{% url 'mainapp:pwdreset' %}" class="link-secondary">パスワードを忘れましたか？</a></li>
      </ul>


      {% elif 'signup' in request.path %}

      <a href="/login/" class="link-secondary">ログインはこちら</a>

      {% endif %}
    </div>
  </div>
</div>
{%endblock%}