{% extends "mainapp/base_index.html" %} {% load static %}{%load humanize%} {% block content %}

<div class="page-top"></div>
<div class="container " style="max-width: 1000px">
    <div class="flex align-items-center dashboard-title my-3 py-3">
        <h1 class="page-top-title">スケジュール</h1>
        <div class="px-5 text-white"><b>空き状況の確認</b> と<b>予約</b>の管理に利用してください。○をクリックすると予約画面に移ります。</div>

    </div>

    <div class="row">
        <div class="col-md-6 mb-4 text-center calendar">
            <img src="" alt="" class="img-fluid">
        </div>
    </div>

    <div class="container text-center">
        <div class="">
            <div class="mb-3">
                <h1>予約カレンダー</h1>
                <p>{{ start_day }}~{{ end_day }}</p>
                <p>前半10:00 ~ 14:00 後半19:00~21:00の時間帯から選択できます。</p>
            </div>
            <div class="button-group">
                <div class="d-flex mb-2 text-center">
                    <div class="mx-3 mr-auto">
                        <a href="{% url 'mainapp:calendar' before.year before.month before.day %}"
                            class="btn btn-info">前週</a>
                    </div>

                    <div class="mx-3 mr-auto">
                        <a href="{% url 'mainapp:calendar' next.year next.month next.day %}" class="btn btn-info">次週</a>
                    </div>
                </div>
            </div>

            <div class="table-container text-center">

                <table class="table table-bordered bg-light">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            {% for day in days %}
                            {% if day.weekday == 5 %}
                            <th scope="col" class="text-primary">{{ day | date:'d(D)'}}</th>
                            {% elif day.weekday == 6 %}
                            <th scope="col" class="text-danger">{{ day | date:'d(D)'}}</th>
                            {% else %}
                            <th scope="col">{{ day | date:'d(D)'}}</th>
                            {% endif %}

                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for hour, schedules in calendar.items %}
                        <tr>
                            <td scope="row"> {{ hour }}:00</td>
                            {% for datetime, book in schedules.items %}
                            <td>
                                {% if datetime <= today %} -{% elif book %} <a
                                    href="{% url 'mainapp:booking' datetime.year datetime.month datetime.day hour %}">
                                    <i class="far fa-circle text-primary"></i>
                                    </a>
                                    {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                    {% endif %}
                            </td>

                            {% endfor %}
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>



            <div class="mt-4  text-left">
                <h3>予約内容</h3>
                <hr>
                {% if userbook %}
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>予約名</th>
                            <th>開始時刻</th>
                            <th>終了時刻</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in user_book %}
                        {% if booking.name != None %}
                        <tr>
                            <form method="post" action="{% url 'mainapp:user_schedule_delete' booking.id %}">
                                {% csrf_token %}
                                <td> {{ booking.name }} </td>
                                <td>{{ booking.start }}</td>
                                <td>{{ booking.end }}</td>
                                <td><button type="submit" class="btn btn-danger">取消し</button></td>
                            </form>

                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>現在予約はありません。</p>
                {% endif %}
            </div>


        </div>

    </div>









    <hr />
</div>


{% endblock %}