{% extends "mainapp/base_index.html" %} {% load static %}{%load humanize%} {% block content %}

<div class="page-top"></div>
<div class="container" style="max-width: 1000px">
    <div class="flex align-items-center dashboard-title my-3 py-3">
        <h1 class="page-top-title">ダッシュボード</h1>
        <div class="px-5 text-white"><b>注文の管理</b> と<b>アカウント情報</b>の管理に利用してください。</div>

    </div>
    <div class="dashbord-container">
        <div class="col-6 mb-3">
            {% if is_admin %}
            <a type='button' class="btn btn-dashboard" href="/admin">
                <i class='bx bxs-user-account iconarea'></i>
                <span class="ms-5">アドミニページ</span>
            </a>

            {% else %}
            <a type='button' class="btn btn-dashboard" href="{% url  'mainapp:account' %}">
                <i class='bx bxs-user-account iconarea'></i>
                <span class="ms-5">アカウント情報</span>
            </a>
            {% endif %}

        </div>
        {% if is_admin %}
        <div class="col-6 mb-3">

            <a type='button' class="btn btn-dashboard" href="{% url 'mainapp:registration' %}">
                <i class='bx bxs-user-account iconarea'></i>
                <span class="ms-5">お客様登録情報</span>
            </a>
        </div>
        {%endif%}

        <div class="col-6 ">
            <a type='button' class="btn btn-dashboard" href="{% url  'mainapp:user_schedule' %}">
                <i class='bx bxs-book iconarea'></i>
                <span class="ms-5">ご予約内容</span>
            </a>

        </div>
    </div>

    <hr />
</div>
<div class="container" style="max-width: 1000px">
    {% if orders|length > 0 %}
    <h5>支払い完了</h5>
    {% for order in orders %}
    <div class="row g-3">

        <div class="col-12 bg-light p-3 d-flex justify-content-between">
            <div class="d-flex d-flex-inline">

                <div class="pe-3">{{ order.created }}</div>
                <div class="dropdown">
                    <a class="text-reset text-decoration-none dropdown-toggle" href="#" role="link" id="dropdownLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        手配先ご住所
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownLink">
                        <li class="item small">{{order.full_name}}様</li>
                        <li class="item small">{{order.address1}}</li>
                        <li class="item small">{{order.address2}}</li>
                        <li class="item small">{{order.post_code}}</li>
                    </ul>
                </div>

            </div>
            <div class="text-end">
                お支払い済み　計: <span class="fw-bold">¥{{ order.total_paid|intcomma }}/{{ order.order_total|intcomma }}</span>
            </div>
        </div>
        <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
            <div class="d-grid gap-2 ">
                <button class="btn btn-warning" type="button">Problem with order</button>
                <button class="btn btn-light" type="button">Leave a review</button>
            </div>
        </div>

        <div class="col-md-7 col-lg-8 p-0">

            {% for item in order.items.all %}

            <div class="card mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-2 d-none d-md-block">
                        <img class="img-fluid" style="width:90px" src="{{item.product.image.url}}" />
                    </div>
                    <div class="col-md-10">
                        <div class="card-body p-1">
                            <a class="text-decoration-none" href="{{ item.product.get_absolute_url }}">
                                <p class="card-text small">{{item.product|title}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}


        </div>

    </div>
    {% endfor %}
    {% endif %}
    {% if preorders|length > 0 %}
    <h5>前払い完了</h5>
    {% for order in preorders %}
    <div class="row g-3">

        <div class="col-12 bg-light p-3 d-flex justify-content-between">
            <div class="d-flex d-flex-inline">

                <div class="pe-3">{{ order.created }}</div>
                <div class="dropdown">
                    <a class="text-reset text-decoration-none dropdown-toggle" href="#" role="link" id="dropdownLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        手配先ご住所
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                            class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownLink">
                        <li class="item small">{{order.full_name}}様</li>
                        <li class="item small">{{order.address1}}</li>
                        <li class="item small">{{order.address2}}</li>
                        <li class="item small">{{order.post_code}}</li>
                    </ul>
                </div>

            </div>
            <div class="text-end">
                お支払い済み　計: <span class="fw-bold">¥{{ order.total_paid|intcomma }}/{{ order.order_total|intcomma }}</span>
            </div>
        </div>
        <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
            <div class="d-grid gap-2 ">
                <button class="btn btn-warning" type="button">Problem with order</button>
                <button class="btn btn-light" type="button">Leave a review</button>
            </div>
        </div>

        <div class="col-md-7 col-lg-8 p-0">

            {% for item in order.items.all %}

            <div class="card mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-2 d-none d-md-block">
                        <img class="img-fluid" style="width:90px" src="{{item.product.image.url}}" />
                    </div>
                    <div class="col-md-10">
                        <div class="card-body p-1">
                            <a class="text-decoration-none" href="{{ item.product.get_absolute_url }}">
                                <p class="card-text small">{{item.product|title}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}


        </div>

    </div>
    {% endfor %}
    {% endif %}

</div>






{% endblock %}