{% extends 'mainapp/base_index.html' %} {% block content %}
<div class="page-top"></div>
<div class="row mt-3">
    <div class="col-md-12">
        <div class="container">
            <h3>【特定商取引法に基づく表記】</h3>
            <table bgcolor="#999999" border="1" cellpadding="9" cellspacing="1" style="font-size:13px;text-align:left">
                <tr>
                    <th bgcolor="#EEEEEE">販売者名</th>
                    <td bgcolor="#FFFFFF">Tech2Metail</td>
                </tr>
                <tr>
                    <th bgcolor="#EEEEEE">住所</th>
                    <td bgcolor="#FFFFFF">奈良県奈良市北市町77</td>
                </tr>
                <tr>
                    <th bgcolor="#EEEEEE">電話番号</th>
                    <td bgcolor="#FFFFFF">08014111859</td>
                </tr>
                <tr>
                    <th bgcolor="#EEEEEE">メールアドレス</th>
                    <td bgcolor="#FFFFFF">
                        lowerbackandshoulder＠gmail.com<br /><br />・上記アドレスは、迷惑メール対策のため、全角の「＠」で表記しております。<br />&nbsp;&nbsp;お問合わせの際は「＠」を半角の「@」に変更してご利用ください。
                    </td>
                </tr>
                <tr>
                    <th bgcolor="#EEEEEE">販売URL</th>
                    <td bgcolor="#FFFFFF"><a href="https://lbas-fitness.net"
                            target="_blank">https://lbas-fitness.net</a></td>
                </tr>
                <tr>
                    <th bgcolor="#EEEEEE">お支払い方法</th>
                    <td bgcolor="#FFFFFF">クレジットカード決済のみ (入会日を起算として1ヶ月毎に課金)</td>
                </tr>
                <tr>
                    <th bgcolor="#EEEEEE">販売価格</th>
                    <td bgcolor="#FFFFFF">月々25000円 (税込)</td>
                </tr>
                <tr>
                    <th bgcolor="#EEEEEE">商品代金以外の<br />必要金額</th>
                    <td bgcolor="#FFFFFF">なし</td>
                </tr>
                <tr>
                    <th bgcolor="#EEEEEE">販売数量</th>
                    <td bgcolor="#FFFFFF">１</td>
                </tr>
                <tr>
                    <th bgcolor="#EEEEEE">お申込み有効期限</th>
                    <td bgcolor="#FFFFFF">14日以内にお願いいたします。<br />14日間入金がない場合は、キャンセルとさせていただきます。</td>
                </tr>
                <tr>
                    <th bgcolor="#EEEEEE">商品引渡し時期</th>
                    <td bgcolor="#FFFFFF">お支払い確認後、レッスン予約後からの商品提供となります。</td>
                </tr>
                <tr>
                    <th bgcolor="#EEEEEE">商品引渡し方法</th>
                    <td bgcolor="#FFFFFF">ビデオ通話による双方向通信でのご提供</td>
                </tr>
                <tr>
                    <th bgcolor="#EEEEEE">返品・不良品について</th>
                    <td bgcolor="#FFFFFF">情報・ノウハウという特性上、お客様のご都合による返品および返金には応じられません。</td>
                </tr>
                <tr>
                    <th bgcolor="#EEEEEE">表現、及び商品に<br />関する注意書き</th>
                    <td bgcolor="#FFFFFF">本商品に示された表現や再現性には個人差があり、<br />必ずしも利益や効果を保証したものではございません。</td>
                </tr>
                <tr height="10px">
                    <td colspan="2" bgcolor="#FFFFFF" style="color:gray;text-align:right;font-size:10px"> Created by
                        Tech2Metail
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>

{% endblock %}