{% extends 'mainapp/base_index.html' %} {% block content %}
<div class="page-top"></div>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="container">

      <h2>個人情報保護方針</h2>

      <p>
        Tech2Metail（以下、「当サイト運営者」といいます。）は、当サイト運営者の各事業において取り扱う個人情報及び特定個人情報が、お客様のプライバシーを構成する重要な要素であることを深く認識し、個人情報及び特定個人情報の保護に関する法令を遵守することにより、お客様の当サイトに対する期待と信頼に応えてまいります。
      </p>

      <h4>（１）個人情報及び特定個人情報の取得、利用及び提供</h4>

      <p>
        当サイト運営者が個人情報を取得、利用及び提供するにあたっては、あらかじめ、その利用目的をでき得る限り特定し、ご本人様に通知し、同意を得て、目的の達成に必要な限度において取得、利用及び提供させて頂くとともに、その目的の達成に必要な範囲を超えた取得、利用及び提供を行わない為の措置を講じます。また、ご本人様が容易に認識できない方法、偽りその他の不正な方法により取得することはありません。<br />なお、特定個人情報の取得、利用及び提供にあたっては、本人確認を行い、同意を得た上で取得し、法令で定められた利用目的にのみ限定した取り扱いを行い、その目的の達成に必要な範囲を超えた取得、利用及び提供を行わない為の措置を講じます。
      </p>

      <h4>（２）第三者への提供</h4>

      <p>
        当社は、ご本人の同意を得ている場合や法令にもとづく場合等を除き、取得した個人情報を第三者に提供することは致しません。
      </p>

      <h4>（３）法令、国が定める指針その他の規範の遵守</h4>

      <p>
        当サイト運営者は、個人情報保護に関する法律、行政手続きにおける特定の個人情報を識別するための番号の利用等に関する法律、個人情報の取り扱いに関する法令及び国が定める指針その他規範等を遵守します。
      </p>

      <h4>（４）仮名加工情報の取り扱い</h4>

      <p>
        当サイトは、法に定める措置を講じた上で、他の情報と照合しない限り、特定の個人を識別できないように個人情報を加工して得られた仮名加工情報を当サイト内部における分析でのみ利用する場合があります。
      </p>

      <h4>
        （５）個人情報及び特定個人情報の漏洩、滅失又は毀損の防止並びに是正
      </h4>

      <p>
        当サイト運営者は、取り扱う個人情報及び特定個人情報を保護するための体制を構築し、その取り扱いに関するリスクを十分に認識及び分析した上で、必要かつ合理的な安全管理措置（個人情報を取り扱う従業者や委託先に対する監督、不正アクセス又は不正ソフトウェアから保護するシステムの導入等）を講じることにより個人情報及び特定個人情報の漏洩、滅失又は毀損の防止を行います。また、個人情報及び特定個人情報の漏洩、滅失又は毀損が発生し得る、新たなリスクを察知した際には、遅滞なく是正処置を講じます。
      </p>

      <p class="has-text-align-right">
        制定：2024年4月13日 Tech2Metail サイト運営者　Metail
      </p>

      <h2>クッキー（Cookie）の使用について</h2>

      <p>当サイトでは以下の目的のため、クッキーを使用しています。</p>

      <div class="list-raw">
        <ul>
          <li>当サイトのアクセス状況を分析し、当サービスを改善するため。</li>
          <li>
            当サイトおよび当サイトが提供する各種管理ツールにおいて、お客様ごとにカスタマイズされた内容を表示するため。
          </li>
          <li>
            Google、ヤフー株式会社を含む第三者配信事業者において、当サイトへの過去のアクセス状況に基づいて広告を配信するため。<br />
            ※以下URLより、第三者配信事業者によるクッキーの使用を無効化することが可能です。<br />　<a rel="noreferrer noopener" aria-label=" (新しいタブで開く)"
              href="https://www.google.com/settings/ads/anonymous"
              target="_blank">https://www.google.com/settings/ads/anonymous</a><br />　<a rel="noreferrer noopener"
              aria-label=" (新しいタブで開く)" href="https://btoptout.yahoo.co.jp/optout/preferences.html"
              target="_blank">https://btoptout.yahoo.co.jp/optout/preferences.html</a>
          </li>
        </ul>
      </div>

      <p>
        クッキーを使用することで当サイトはお客様のコンピュータを識別できるようになりますが、お客様個人を特定できるものではありません。<br />また、ブラウザの設定によりクッキーの受け取りを拒否することができますが、当サイトが提供するサービスを一部利用できなくなる場合があります。
      </p>

      <h2>免責事項</h2>

      <p>
        当サイトからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。<br />また当サイトのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。
      </p>

      <p>
        当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
      </p>

      <h2>著作権について</h2>

      <p>
        当サイトのコンテンツ（写真や画像、文章など）の著作権につきましては、
        原則として当サイト運営者に帰属しており、無断転載することを禁止します。
      </p>

      <p>当サイトのコンテンツを利用したい場合は、別途お問い合わせください。</p>

      <h2>リンクについて</h2>

      <p>
        当サイトは完全リンクフリーです。リンクを行う場合の当サイト運営者への許可や連絡は不要です。
      </p>
    </div>
  </div>

</div>

{% endblock %}