{% extends "mainapp/base_index.html" %} {% load static %}{%load humanize%} {% block content %}

<div class="page-top"></div>
<div class="container " style="max-width: 1000px">
    <div class="flex align-items-center dashboard-title my-3 py-3">
        <h1 class="page-top-title">予約状況</h1>
        <div class="px-5 text-white"><b>予約済みのスケジュールを確認できます。</div>

    </div>

    <div class="container text-center">
        <div class="row">

            <div class="col-md-12 mb-4">

                <div class=" text-left">
                    <h3>予約内容</h3>
                    <hr>
                    {% if booking_data %}
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>予約名</th>
                                <th>開始時刻</th>
                                <th>終了時刻</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in booking_data %}
                            {% if booking.name != None %}
                            <tr>
                                <form method="post" action="{% url 'mainapp:user_schedule_delete' booking.id %}">
                                    {% csrf_token %}
                                    <td> {{ booking.name }} </td>
                                    <td>{{ booking.start }}</td>
                                    <td>{{ booking.end }}</td>
                                    <td><button type="submit" class="btn btn-danger">取消し</button></td>
                                </form>

                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>現在予約はありません。</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>









    <hr />
</div>


{% endblock %}