{% extends '../mainapp/base_index.html' %}{% load static %}

{% block content%}
<script async src="https://js.stripe.com/v3/pricing-table.js"></script>

<div class="page-top"></div>
<div class="container" style="max-width: 1000px">
    <div class="service-title">
        <h1 class="page-top-title pt-2 ps-5">サービスページ</h1>
        <p class="px-5 text-white ">製品・サービスはこちらから選択出来ます。</p>
    </div>

    <!-- {% include './snippets/dropdown.html'%} -->
    <div class="container mt-3">

        <div class="row button-container" id="pay_selection">
            <div class="row flex col-md-12">
                <form action="{% url 'store:stripe' %}" method="get">
                    <button type="submit" class="pay col-md-6 card-effect text-center">
                        <h3>クレジットカード</h3>
                        <div class="row ">
                            <div class="pay-img col-md-12">
                                <img class="credit-card" src="{% static 'payment/credit-card-regular-168.png'%}" alt="">
                            </div>
                        </div>

                    </button>
                </form>

                <form action="{% url 'store:paypay' %}" method="get">
                    <button type="submit" class="pay col-md-6 card-effect text-center">

                        <h3>PayPay</h3>

                        <div class="row apple">
                            <div class="pay-img col-md-12">
                                <img class="paypay" src="{% static 'payment/img_logo_2.jpg'%}" alt="pay_pay">
                            </div>

                        </div>

                    </button>
                </form>
            </div>

        </div>


    </div>


</div>
{%endblock%}