{% extends '../mainapp/base_index.html' %}{% load static %}{% load humanize %}

{% block content%}
<script async src="https://js.stripe.com/v3/pricing-table.js"></script>

<div class="page-top"></div>
<div class="container" style="max-width: 1000px">
    <div class="service-title">
        <h1 class="page-top-title pt-2 ps-5">サービスページ(PayPay利用）</h1>
        <p class="px-5 text-white ">製品・サービスはこちらから選択出来ます。</p>
    </div>

    <!-- {% include './snippets/dropdown.html'%} -->
    <div class="container mt-3">
        <p>※写真はイメージです。</p>
        <div class="pb-3 h5">
            <div class="row g-3">
                {% for product in products %}
                <div class="product-card mb-3 col-lg-8 col-sm-12">
                    <div class="service-item card-effect ">
                        <img src="{{product.image.url}}" alt="Responsice image" class="img-fluid">
                        <h5 class="mt-2"><a href="{% url 'store:product_single' product.slug %}"
                                class="text-dark text-decoration-none">{{product.title}}</a></h5>
                        <p>{{product.description}}</p>
                        <div class="order-group d-flex">
                            <h5 class="text-muted">¥{{ product.price|intcomma }}</h5>
                            <button class="btn-purchase btn btn-info">購入</button>
                        </div>


                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


</div>
{%endblock%}