{% extends '../mainapp/base_index.html' %}{% load static %}

{% block content%}
<script async src="https://js.stripe.com/v3/pricing-table.js"></script>

<div class="page-top"></div>
<div class="container" style="max-width: 1000px">
    <div class="service-title">
        <h1 class="page-top-title pt-2 ps-5">サービスページ(クレジット利用）</h1>
        <p class="px-5 text-white ">製品・サービスはこちらから選択出来ます。</p>
    </div>

    <!-- {% include './snippets/dropdown.html'%} -->
    <div class="container mt-3">
        <p>※写真はイメージです。</p>
        <div class="pb-3 h5">
            <div class="row g-3">
                <stripe-pricing-table pricing-table-id="{{ pricing_table_id }}" publishable-key="{{ published_key }}">
                </stripe-pricing-table>
            </div>
        </div>
    </div>
</div>


</div>
{%endblock%}