{% extends 'mainapp/base_index.html' %} {% block content %} {% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'payment/styles/checkout.css' %}" />

<body class="bg-light">

  <script src="{% static 'payment/js/paypay.js' %}"></script>
  <script src="https://static.paypay.ne.jp/libs/smart-payment-js-sdk/2.x.x/smart-payment-js-sdk.js"></script>

  <script>
    let CSRF_TOKEN = '{{ csrf_token}}';
    let userid = document.getElementById("userid").value;

  </script>
  <script src="{% static 'payment/js/index.js' %}" data-rel-js></script>
</body>


{% endblock %}