<nav>
    <div class="dropdown pt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            カテゴリー
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'store:product_all' %}">全て</a></li>
            {% for category in categories %}
            <li><a class="dropdown-item" href="/store/search/{{category.slug}}">{{category.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>