{% load static %}

<div class="container">
    <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">広告</h4>
        <p class="mb-0"></p>
    </div>

    <figure class="figure">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <div
                        style="border:1px solid #95a5a6;border-radius:.75rem;background-color:#FFFFFF;width:504px;margin:0px;padding:5px;text-align:center;overflow:hidden;">
                        <table>
                            <tr>
                                <td style="width:240px"><a
                                        href="https://hb.afl.rakuten.co.jp/ichiba/3bd66262.112a4481.3bd66263.be92633e/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fdarkangel%2Fto2306-3720%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIyNDB4MjQwIiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
                                        target="_blank" rel="nofollow sponsored noopener"
                                        style="word-wrap:break-word;"><img
                                            src="https://hbb.afl.rakuten.co.jp/hgb/3bd66262.112a4481.3bd66263.be92633e/?me_id=1224379&item_id=10036080&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fdarkangel%2Fcabinet%2F10522269%2F10773835%2F3720-main-240422-3.jpg%3F_ex%3D240x240&s=240x240&t=picttext"
                                            border="0" style="margin:2px"
                                            alt="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"
                                            title="[商品価格に関しましては、リンクが作成された時点と現時点で情報が変更されている場合がございます。]"></a></td>
                                <td style="vertical-align:top;width:248px;display: block;">
                                    <p
                                        style="font-size:12px;line-height:1.4em;text-align:left;margin:0px;padding:2px 6px;word-wrap:break-word">
                                        <a href="https://hb.afl.rakuten.co.jp/ichiba/3bd66262.112a4481.3bd66263.be92633e/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fdarkangel%2Fto2306-3720%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIyNDB4MjQwIiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
                                            target="_blank" rel="nofollow sponsored noopener"
                                            style="word-wrap:break-word;">【ワンダフル★24H限定！2枚目プレゼント】カップ付きタンクキャミ ブラトップ キャミソール
                                            サテン サテンキャミソール ブラ レディース ブラ不要 ナローストラップ おしゃれ 立体カップ シルクタッチ 楽ちん 長め 【サテンカップ付きキャミ】
                                            ダークエンジェル</a><br><span>価格：2,970円（税込、送料無料)</span> <span
                                            style="color:#BBB">(2024/5/2時点)</span></p>
                                    <div style="margin:10px;"><a
                                            href="https://hb.afl.rakuten.co.jp/ichiba/3bd66262.112a4481.3bd66263.be92633e/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fdarkangel%2Fto2306-3720%2F&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIyNDB4MjQwIiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ%3D%3D"
                                            target="_blank" rel="nofollow sponsored noopener"
                                            style="word-wrap:break-word;"><img
                                                src="https://static.affiliate.rakuten.co.jp/makelink/rl.svg"
                                                style="float:left;max-height:27px;width:auto;margin-top:0"></a><a
                                            href="https://hb.afl.rakuten.co.jp/ichiba/3bd66262.112a4481.3bd66263.be92633e/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fdarkangel%2Fto2306-3720%2F%3Fscid%3Daf_pc_bbtn&link_type=picttext&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0dGV4dCIsInNpemUiOiIyNDB4MjQwIiwibmFtIjoxLCJuYW1wIjoicmlnaHQiLCJjb20iOjEsImNvbXAiOiJkb3duIiwicHJpY2UiOjEsImJvciI6MSwiY29sIjoxLCJiYnRuIjoxLCJwcm9kIjowLCJhbXAiOmZhbHNlfQ=="
                                            target="_blank" rel="nofollow sponsored noopener"
                                            style="word-wrap:break-word;">
                                            <div
                                                style="float:right;width:41%;height:27px;background-color:#bf0000;color:#fff!important;font-size:12px;font-weight:500;line-height:27px;margin-left:1px;padding: 0 12px;border-radius:16px;cursor:pointer;text-align:center;">
                                                楽天で購入 </div>
                                        </a></div>
                                </td>
                            </tr>
                        </table>
                    </div><br>
                    <p style="color:#000000;font-size:12px;line-height:1.4em;margin:5px;word-wrap:break-word"></p>
                </td>
            </tr>
        </table>
    </figure>
    <figure class="figure">
        <img src="{% static 'mainapp/sika.jpg' %}" class="figure-img img-fluid rouded">
        <figcaption class="figure-caption text-center font-italic small">

        </figcaption>
    </figure>
</div>