{% load static %}
<header>
  <div class="row" id="navArea">
    <div class="navbar navbar-expand-md bg-dark">
      <div class="container-fluid col-sm-12">

        <h2 class="col-md-6 pt-2 "><a class="brand" href="/">Tuttofare</a></h2>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                アカウント
              </a>
              <ul class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdown">



                <li class="nav-item ms-2">
                  <span class="badge rounded-pill text-light"><a class="p-2"
                      href="{%url 'mainapp:dashboard' %}">ID:{{user.email}}</a></span>
                </li>

                <li class="nav-item" id="logout"><a class="nav-link dropdown-items" href="/logout">ログアウト</a></li>

              </ul>

            </li>
            <li class="nav-item d-block-flex">
              <div style="padding-left: 2rem;">
                買い物かご

              </div>

              <div class="p-0 m-0">

                <a type="button" class="nav-link" href="{%url 'basket:basket_summary' %}">

                  <div class="cart-icon">
                    <i class='bx bx-cart' style="font-size: 45px;"></i>
                    {% with total_qty=basket|length %}
                    <div id="basket-qty" class="d-inline-flex mx-3">
                      {% if total_qty > 0 %}
                      {{total_qty}}
                      {% else %}
                      0
                      {% endif %}
                    </div>
                    {% endwith %}
                  </div>

                </a>
              </div>

            </li>
            {%endif%}
          </ul>
        </div>

        <div class="col-6 toggle-btn">
          <span><i class='bx bx-list-ol'>メニュー</i></span>
          <span><i class='bx bx-x-circle'></i></span>

        </div>

      </div>
    </div>
    <nav class="menu">
      <div class="inner">
        <ul>
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{%url 'store:product_all' %}">サービス</a></li>
          {% if user.is_authenticated %}


          {% else %}
          <li class="nav-item"><a class="nav-link" href="/login">ログイン</a></li>
          <button class="btn ms-1"><a href="/signup">サインアップ</a></button>
          {%endif%}

          <li class="nav-item"><a class="nav-link" href="/contact">お問い合わせ</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>